html, body {
  font-size: 100%;
}

body {
  background-color: black;
  color: white;
}

#content-container {
  position: relative;
}

#content {
  width: 50vw;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

textarea {
  width: 40vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 16vh;
  font-size: 1rem;
  padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.display {
  border-left: 1px white solid;
  padding-left: 0.5em; 
}

h1, .display {
  color: #1ED760;
}

.results {
  font-weight: 500;
  font-size: 1.25rem;
}

.quote {
  font-style: italic;
  font-size: 0.9rem;
}

.uniqueSet {
  word-break: break-all;
}

@media (max-width: 480px){
  #content {
    width: 80vw;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  textarea {
    width: 70vw;
  }
}